<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by User ID"
          [(ngModel)]="userID"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Times List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let time of times; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTime(time, i)"
        >
          {{ time.numMinutes }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTimes()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTime">
        <h4>Time</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTime.numMinutes }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentTime.description }}
        </div>
        <!-- <div>
          <label><strong>Status:</strong></label>
          {{ currentTime.published ? "Published" : "Pending" }}
        </div> -->
  
        <a class="badge badge-warning" routerLink="/times/{{ currentTime.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentTime">
        <br />
        <p>Please click on a Time...</p>
      </div>
    </div>
  </div>