<ul class = "tempClass">All Times Tracked on Project</ul>
                <li class="list-group-item" *ngFor="let time of times; let i = index" [class.active]="i == currentIndex">
                  UserID: {{ time.userID }} <br>
                  {{ time.numMinutes }} Minutes <br>
                  Date: {{ time.date }}
                </li>
                <li class="list-group-item">
                  UserID: 2 <br>
                  40 Minutes <br>
                  Date: 2021-03-26
                </li> 