
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="img-responsive" height="100px" width="100px" src="assets/images/logo.png" alt="SummaTime Logo">SummaTime</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link"> Time </a>
          </li>
          <li class="nav-item">
            <a routerLink="/projects" class="nav-link"> Projects </a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>

        </ul>
        
      </div>
    </div>
  </nav>
  <br><br>

 





</div>



<button><a class="nav-link" routerLink="/home">push me to get to home</a></button>
 <router-outlet></router-outlet>