
<app-add-time #myModal></app-add-time>
<full-calendar [options]="calendarOptions"></full-calendar>
<!--
  <div class="main"> 
    <div class="entry">
      
      <button (click)="addTime()" class="w3-button w3-xlarge w3-teal">+</button>
      <p class="smalltxt">New Entry</p>
    
    </div>

    <div class="calendar">
      <div class="top">
        <button><div><span>&#8249;</span></div></button>
        <button><div><span>&#8250;</span></div></button>
        <p class="date"><strong>Today:</strong>insert date here</p>
      </div>
      <div class="time-content">
        <div class="container space-around">
        <div class="outline l">M 0:00</div>
        <div class="outline"><button>T 0:00</button></div>
        <div class="outline"><button>W</button></div>
        <div class="outline"><button>Th</button></div>
        <div class="outline"><button>F</button></div>
        <div class="outline"><button>S</button></div>
        <div class="outline r"><button>Su</button></div>
        </div>
      </div>
    </div>
    
  </div>
-->

  
    <router-outlet></router-outlet>
   






 
