<div class= "fullscreen">
  <div class="twenty" *ngIf="isLoggedIn">
    <button *ngIf="isLoggedIn" (click)="addTime()" class="w3-button w3-xlarge w3-teal">+</button>

  </div>
  <div class="eighty" *ngIf="isLoggedIn">
    <app-add-time #myModal *ngIf="isLoggedIn"></app-add-time>
    <full-calendar [options]="calendarOptions" *ngIf="isLoggedIn"></full-calendar>
  </div>

 

<!--
  <div class="main"> 
    <div class="entry">
      
      <button (click)="addTime()" class="w3-button w3-xlarge w3-teal">+</button>
      <p class="smalltxt">New Entry</p>
    
    </div>

  </div>
-->

<div class="container" *ngIf = "!isLoggedIn">

<div>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="jumbotron jumbotron-fluid">
       
        <h1 class="display-4">Welcome to SummaTime<div class="fadeInDown2">The easy to use time logging application</div><div class="fadeInDown3">To get started, <a routerLink="/register">Sign Up</a> today!</div>
        
        </h1>
      
      </div>
    </div>
    
  </div>
</div>
</div>
</div>
    <router-outlet></router-outlet>
   