<div class="form-group" *ngIf="!projectSelected">
  <!-- Not selected project-->
  <label for="teamName">Team Name</label>
  <select class="form-control" id="teamName" required name="teamName">
    <option value="Testing Team">Testing Team</option>
  </select>
  <br>
  <button class="btn btn-primary" (click)="selectProject()">Submit</button>
</div>

<div class="container" *ngIf="projectSelected">
  <!-- Project Selected -->
  <div class="fullscreen">
    <div class="sixty">
      <div class="ten">
        <h1>Project Times</h1>
      </div>

      <div class="ninety">
        <div class="fullscreen">
          <div class="fifty">
            <li class="list-group-item">
              Name: Ethan Walser
              <br>
              Role: User
              </li>

              <li class="list-group-item">
                Name: Tyler Dys
                <br>
                Role: Admin
                </li>

                <li class="list-group-item">
                  Name: Suman Gurung
                  <br>
                  Role: User
                  </li>

          </div>

          <div class="fifty">
            <li class="list-group-item" *ngFor="let time of times; let i = index" [class.active]="i == currentIndex">
              UID: 1 <br>
              15 Minutes <br>
              Date: {{ time.date }}
            </li>

            <li class="list-group-item" *ngFor="let time of times; let i = index" [class.active]="i == currentIndex">
              UID: 2 <br>
              {{ time.numMinutes }} Minutes <br>
              Date: {{ time.date }}
            </li>

            <li class="list-group-item" *ngFor="let time of times; let i = index" [class.active]="i == currentIndex">
              UID: 3 <br>
              60 Minutes <br>
              Date: {{ time.date }}
            </li>
            
            
          </div>

   


        
        <h2>{{ uName1 }}</h2>
      </div>
      </div>
    </div>
  </div>



</div>