<div>
    <div *ngIf="currentTime.id" class="edit-form">
      <h4>Time</h4>
      <form>
        <div class="form-group">
          <label for="numMinutes">Time in Minutes</label>
          <input
            type="text"
            class="form-control"
            id="numMinutes"
            [(ngModel)]="currentTime.numMinutes"
            name="numMinutes"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTime.description"
            name="description"
          />
        </div>
<!--   
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentTime.published ? "Published" : "Pending" }}
        </div> -->
      </form>
  
      <!-- <button
        class="badge badge-primary mr-2"
        *ngIf="currentTime.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentTime.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button> -->
  
      <button class="badge badge-danger mr-2" (click)="deleteTime()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTime()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTime.id">
      <br />
      <p>Cannot access this Time...</p>
    </div>
  </div>