

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="img-responsive" height="100px" width="100px" src="assets/images/logo.png" alt="SummaTime Logo">SummaTime</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link"> Time </a>
        </li>
        <li class="nav-item">
          <a routerLink="/projects" class="nav-link"> Projects </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link"> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">

          <a href="/profile" class="nav-link" routerLink="profile"><div class="dropdown">
            
            <a class="navbar-brand" href="#"><img class="img-responsive" height="50px" width="50px" src="assets/images/usr.png"
                alt="SummaTime Logo">{{ username }}</a>
            <div class="dropdown-content">
            <a href="/profile" class="nav-link" routerLink="profile"> My Profile</a>
              <a href="#">My Time Report</a>
              <a href="#">Notification</a>
              <a href="#">Sign Out</a>
            </div>
          </div></a>
         
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="container">
  <router-outlet></router-outlet>
</div>

